# Kustomization File: https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# namespace: https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/namespace/
namespace: react-work-prod


# images: https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/images/
# nameに一致するコンテナイメージのタグを上書き
images:
  - name: SAMPLE_APP_REPOSITORY_URL
    newName: 674582907715.dkr.ecr.ap-northeast-1.amazonaws.com/react-work/prod/sample-app
    newTag: latest

replicas:
  - name: sample-app
    count: 2


# patches: https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/patches/
#   - Patch using Path Strategic Merge: https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/patches/#patch-using-path-strategic-merge
patches:
  - path: ingress-patch.yaml


# baseのkustomization.yamlが存在するディレクトリの相対パスを指定
resources:
- ../../base


# ConfigMapの上書き
configMapGenerator:
  - name: sample-app-config
    behavior: merge
    literals:
      - STAGE=prod